<!DOCTYPE html>
<html>
<head>
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Cens Palma">

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <title>Cens electoral de Palma</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"
          media="screen,projection"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>

<div class="container">
    <h4>Cens Electoral de Palma</h4>

    <div class="row">
        <form class="col s12" id="cens">
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-action-account-circle prefix"></i>
                    <input placeholder="NIF" id="nif" type="text">
                    <label for="nif">NIF</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light col s12" type="submit" name="action">Consultar
                        <i class="mdi-content-send right"></i>
                    </button>
                </div>

                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light red lighten-2 col s12" type="button" id="delete">Esorrar
                        <i class="mdi-content-clear right"></i>
                    </button>
                </div>
            </div>
        </form>
        <div id="errors" style="display:none;">
            <h4 id="error" class="red-text text-lighten-2"></h4>
        </div>
        <table style="display:none;" class="striped" id="result">
            <tr>
                <th>Districte</th>
                <td id="district"></td>
            </tr>
            <tr>
                <th>Secció</th>
                <td id="section"></td>
            </tr>
            <tr>
                <th>Mesa</th>
                <td id="table"></td>
            </tr>
            <tr>
                <th>Col·legi</th>
                <td id="school"></td>
            </tr>
            <tr>
                <th>Direcció</th>
                <td id="address"></td>
            </tr>
        </table>
    </div>
    <div class="col s12 center">
        Dades proporcionades pel <a href="http://cens.palmademallorca.es/cens/dinamic/Consulta.htm" target="_blank">cens on-line</a> de l'Ajuntament de Palma
    </div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
